//Copy this file to .env and fill in the values
JWT_SECRET=your_jwt_secret
JWT_ISSUER=your_jwt_issuer
JWT_AUDIENCE=your_jwt_audience
JWT_EXPIRATION_MINUTES=your_jwt_experation_minutes
DEFAULT_POSTGRESQL_DB_CONNECTION_STRING=your_default_postgresql_db_connection_string
SUPABASE_CONNECTION_STRING=your_supabase_connection_string
DEFAULT_REDIS_CONNECTION_STRING=your_default_redis_connection_string
DEFAULT_REDIS_CONNECTION_STRING=your_redis_connection_string
PRODUCTION_REDIS_CONNECTION_STRING=your_production_redis_connection_string
